/*Important bootstrap overrides*/

@media (min-width: 768px) {
  .navbar-header {
    float: none !important;
  }
}

@media (min-width: 1200px) {
  div#content .container {
    padding-right: 42px;
  }
}

h1 {
  font-size: 45px !important;
}

h2 {
  font-size: 32px !important;
  margin-bottom: 20px !important;
}

h4 {
  text-transform: none !important;
}

.page-header {
  margin-top: 30px !important;
}
