/*Important bootstrap overrides*/

@media (min-width: 768px) {
  .navbar-header {
    float: none !important;
  }

  .not-mobile-no-padding-left {
    padding-left: 0 !important;
  }

  .not-mobile-no-padding-right {
    padding-right: 0 !important;
  }

  .not-mobile-no-padding-left-right {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

@media (min-width: 1200px) {
  div#content .container {
   
  }
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a, p a, li a, dt a, a, a:hover, a:focus {
    background-image: linear-gradient(to right, rgba(120, 47, 64, 1.0) 40%, rgba(206, 184, 136, 1.0) 60%);
    background-position: 50% calc(100% - 1px);
    background-position: 50% 100%;
    background-repeat: repeat-x;
    background-size: 6px 1px;
}

a.no-underline, a.no-underline:hover, a.no-underline:focus {
    background-image: none;
}

h1 {
  font-size: 45px !important;
  font-family: acumin-pro-condensed, Arial, sans-serif !important;
  text-transform: none !important;
}

h2 {
  font-size: 32px !important;
  margin-bottom: 20px !important;
  font-family: acumin-pro-condensed, Arial, sans-serif !important;
  text-transform: none !important;  
}

h3 {
  font-family: acumin-pro-condensed, Arial, sans-serif !important;
  text-transform: none !important;
}

h4 {
  font-family: acumin-pro-condensed, Arial, sans-serif !important;
  text-transform: none !important;
}

h5 {
  font-family: acumin-pro-condensed, Arial, sans-serif !important;
  text-transform: none !important;
}

h6 {
  font-family: acumin-pro-condensed, Arial, sans-serif !important;
  text-transform: none !important;
}

#fsu-title {
  font-family: "Times New Roman" !important;
  text-transform: uppercase !important;
  font-size: 39px !important;
}

div#fsu-global a, nav#block-fsu-strata-main-menu a, 
div#fsu-masthead h1#fsu-title a, div#home-page-icon-section a,
nav.nav-social ul.menu li a,
div#fsu-global-nav a,
div.region-footer a {
  background-image: none;
}

.page-header {
  margin-top: 30px !important;
}

a[id] { 
  scroll-margin-top: 190px; 
}
