/* Styles for components using a 5 x 2 image display. */

/* Global styles */
div.five-by-two-column-table a { 
 display: block; 
 width: 211px; 
 height: 125px; 
 font-size: 110%; 
 padding: 5px 0 0 10px; 
 text-shadow: 1px 1px 1px black;
}
div.five-by-two-column-table { width: 100%; display: block; overflow: auto; margin-bottom: 30px; }
div.five-by-two-column-table div.first-column { width: 211px; float: left; padding: 0 1% 1% 0; height: 125px; background-size: 211px 125px; }
div.five-by-two-column-table div.second-column { width: 211px; float: left; padding: 0 1% 1% 0; height: 125px; background-size: 211px 125px; }
div.five-by-two-column-table div.third-column { width: 211px; float: left; padding: 0 1% 1% 0; height: 125px; background-size: 211px 125px;  }
div.five-by-two-column-table div.fourth-column { width: 211px; float: left; padding: 0 1% 1% 0; height: 125px; background-size: 211px 125px; }
div.five-by-two-column-table div.fifth-column { width: 211px; float: left; padding: 0 1% 1% 0; height: 125px; background-size: 211px 125px; }
div.five-by-two-column-table div.sixth-column { width: 211px; float: left; padding: 0 1% 1% 0; height: 125px; background-size: 211px 125px;  }
div.five-by-two-column-table div.seventh-column { width: 211px; float: left; padding: 0 1% 1% 0; height: 125px; background-size: 211px 125px; }
div.five-by-two-column-table div.eighth-column { width: 211px; float: left; padding: 0 1% 1% 0; height: 125px; background-size: 211px 125px; }
div.five-by-two-column-table div.ninth-column { width: 211px; float: left; padding: 0 1% 1% 0; height: 125px; background-size: 211px 125px; }
div.five-by-two-column-table div.tenth-column { width: 211px; float: left; padding: 0 1% 1% 0; height: 125px; background-size: 211px 125px; }

/* narrow styles */
@media only screen and (min-width: 740px) and (max-width: 979px) {

  div.five-by-two-column-table a { 
   display: block; 
   width: 121px; 
   height: 71px; 
   font-size: 75%; 
   padding: 5px 0 0 10px; 
   text-shadow: 1px 1px 1px black;
  }
  
  div.five-by-two-column-table { width: 100%; display: block; overflow: auto; margin-bottom: 30px; }
  div.five-by-two-column-table div.first-column { width: 121px; float: left; padding: 0 1% 1% 0; height: 71px; background-size: 121px 71px; }
  div.five-by-two-column-table div.second-column { width: 121px; float: left; padding: 0 1% 1% 0; height: 71px; background-size: 121px 71px; }
  div.five-by-two-column-table div.third-column { width: 121px; float: left; padding: 0 1% 1% 0; height: 71px; background-size: 121px 71px;  }
  div.five-by-two-column-table div.fourth-column { width: 121px; float: left; padding: 0 1% 1% 0; height: 71px; background-size: 121px 71px; }
  div.five-by-two-column-table div.fifth-column { width: 121px; float: left; padding: 0 1% 1% 0; height: 71px; background-size: 121px 71px; }
  div.five-by-two-column-table div.sixth-column { width: 121px; float: left; padding: 0 1% 1% 0; height: 71px; background-size: 121px 71px;  }
  div.five-by-two-column-table div.seventh-column { width: 121px; float: left; padding: 0 1% 1% 0; height: 71px; background-size: 121px 71px; }
  div.five-by-two-column-table div.eighth-column { width: 121px; float: left; padding: 0 1% 1% 0; height: 71px; background-size: 121px 71px; }
  div.five-by-two-column-table div.ninth-column { width: 121px; float: left; padding: 0 1% 1% 0; height: 71px; background-size: 121px 71px; }
  div.five-by-two-column-table div.tenth-column { width: 121px; float: left; padding: 0 1% 1% 0; height: 71px; background-size: 121px 71px; }
}

/* normal styles */
@media only screen and (min-width: 980px) and (max-width: 1199px) {

  div.five-by-two-column-table a { 
   display: block; 
   width: 169px; 
   height: 100px; 
   font-size: 100%; 
   padding: 5px 0 0 10px; 
   text-shadow: 1px 1px 1px black;
  }

  div.five-by-two-column-table { width: 100%; display: block; overflow: auto; margin-bottom: 30px; }
  div.five-by-two-column-table div.first-column { width: 169px; float: left; padding: 0 1% 1% 0; height: 100px; background-size: 169px 100px; }
  div.five-by-two-column-table div.second-column { width: 169px; float: left; padding: 0 1% 1% 0; height: 100px; background-size: 169px 100px; }
  div.five-by-two-column-table div.third-column { width: 169px; float: left; padding: 0 1% 1% 0; height: 100px; background-size: 169px 100px;  }
  div.five-by-two-column-table div.fourth-column { width: 169px; float: left; padding: 0 1% 1% 0; height: 100px; background-size: 169px 100px; }
  div.five-by-two-column-table div.fifth-column { width: 169px; float: left; padding: 0 1% 1% 0; height: 100px; background-size: 169px 100px; }
  div.five-by-two-column-table div.sixth-column { width: 169px; float: left; padding: 0 1% 1% 0; height: 100px; background-size: 169px 100px;  }
  div.five-by-two-column-table div.seventh-column { width: 169px; float: left; padding: 0 1% 1% 0; height: 100px; background-size: 169px 100px; }
  div.five-by-two-column-table div.eighth-column { width: 169px; float: left; padding: 0 1% 1% 0; height: 100px; background-size: 169px 100px; }
  div.five-by-two-column-table div.ninth-column { width: 169px; float: left; padding: 0 1% 1% 0; height: 100px; background-size: 169px 100px; }
  div.five-by-two-column-table div.tenth-column { width: 169px; float: left; padding: 0 1% 1% 0; height: 100px; background-size: 169px 100px; }
}


/* Wide styles */
@media only screen and (min-width: 1200px) {

  div.five-by-two-column-table a { 
   display: block; 
   width: 218px; 
   height: 129px; 
   font-size: 145%; 
   padding: 5px 0 0 10px; 
   text-shadow: 1px 1px 1px black;
  }

  div.five-by-two-column-table { width: 100%; display: block; overflow: auto; margin-bottom: 30px; }
  div.five-by-two-column-table div.first-column { width: 218px; float: left; padding: 0 1% 1% 0; height: 129px; background-size: 218px 129px; }
  div.five-by-two-column-table div.second-column { width: 218px; float: left; padding: 0 1% 1% 0; height: 129px; background-size: 218px 129px; }
  div.five-by-two-column-table div.third-column { width: 218px; float: left; padding: 0 1% 1% 0; height: 129px; background-size: 218px 129px;  }
  div.five-by-two-column-table div.fourth-column { width: 218px; float: left; padding: 0 1% 1% 0; height: 129px; background-size: 218px 129px; }
  div.five-by-two-column-table div.fifth-column { width: 218px; float: left; padding: 0 1% 1% 0; height: 129px; background-size: 218px 129px; }
  div.five-by-two-column-table div.sixth-column { width: 218px; float: left; padding: 0 1% 1% 0; height: 129px; background-size: 218px 129px;  }
  div.five-by-two-column-table div.seventh-column { width: 218px; float: left; padding: 0 1% 1% 0; height: 129px; background-size: 218px 129px; }
  div.five-by-two-column-table div.eighth-column { width: 218px; float: left; padding: 0 1% 1% 0; height: 129px; background-size: 218px 129px; }
  div.five-by-two-column-table div.ninth-column { width: 218px; float: left; padding: 0 1% 1% 0; height: 129px; background-size: 218px 129px; }
  div.five-by-two-column-table div.tenth-column { width: 218px; float: left; padding: 0 1% 1% 0; height: 129px; background-size: 218px 129px; }
}
