/* Custom styles for forms. */

.form-required:after { 
  display: inline-block; 
  content: "*";
  color: red;
  font-size: 150%;
}

.btn, .btn-link {
  border-radius: 0.25em !important;
  font-weight: bold !important;
}

.btn::after {
  content: " >";
  font-weight: 600;
}

.btn.s3-c:hover {
  background-color: #161514;
}

.btn.s3-gt:hover {
  background-color: #ffffff;
  color: #161514 !important;
}
