/* Patterns: Images*/
div {background-position:50% 50%;}
.s3-bi-h {background-position:50% 0%; background-repeat:repeat-x}

/* Patterns: Saw*/
.s3-bi-saw-lg-gt {background-image:url("../../img/bi/saw-lg-gt.png"); padding: 10px 0;}
.s3-bi-saw-md-gt {background-image:url("../../img/bi/saw-md-gt.png"); padding: 5px 0;}
.s3-bi-saw-sm-gt {background-image:url("../../img/bi/saw-sm-gt.png"); padding: 3px 0;}
.s3-bi-saw-xs-gt {background-image:url("../../img/bi/saw-xs-gt.png"); padding: 2px 0;}
.s3-bi-saw-lg-gt1k {background-image:url("../../img/bi/saw-lg-gt1k.png"); padding: 10px 0;}
.s3-bi-saw-md-gt1k {background-image:url("../../img/bi/saw-md-gt1k.png"); padding: 5px 0;}
.s3-bi-saw-sm-gt1k {background-image:url("../../img/bi/saw-sm-gt1k.png"); padding: 3px 0;}
.s3-bi-saw-xs-gt1k {background-image:url("../../img/bi/saw-xs-gt1k.png"); padding: 2px 0;}
.s3-bi-saw-lg-gt2k {background-image:url("../../img/bi/saw-lg-gt2k.png"); padding: 10px 0;}
.s3-bi-saw-md-gt2k {background-image:url("../../img/bi/saw-md-gt2k.png"); padding: 5px 0;}
.s3-bi-saw-sm-gt2k {background-image:url("../../img/bi/saw-sm-gt2k.png"); padding: 3px 0;}
.s3-bi-saw-xs-gt2k {background-image:url("../../img/bi/saw-xs-gt2k.png"); padding: 2px 0;}
.s3-bi-saw-lg-gt3k {background-image:url("../../img/bi/saw-lg-gt3k.png"); padding: 10px 0;}
.s3-bi-saw-md-gt3k {background-image:url("../../img/bi/saw-md-gt3k.png"); padding: 5px 0;}
.s3-bi-saw-sm-gt3k {background-image:url("../../img/bi/saw-sm-gt3k.png"); padding: 3px 0;}
.s3-bi-saw-xs-gt3k {background-image:url("../../img/bi/saw-xs-gt3k.png"); padding: 2px 0;}
.s3-bi-saw-lg-gd {background-image:url("../../img/bi/saw-lg-gd.png"); padding: 10px 0;}
.s3-bi-saw-md-gd {background-image:url("../../img/bi/saw-md-gd.png"); padding: 5px 0;}
.s3-bi-saw-sm-gd {background-image:url("../../img/bi/saw-sm-gd.png"); padding: 3px 0;}
.s3-bi-saw-xs-gd {background-image:url("../../img/bi/saw-xs-gd.png"); padding: 2px 0;}
.s3-bi-saw-lg-gd1c {background-image:url("../../img/bi/saw-lg-gd1c.png"); padding: 10px 0;}
.s3-bi-saw-md-gd1c {background-image:url("../../img/bi/saw-md-gd1c.png"); padding: 5px 0;}
.s3-bi-saw-sm-gd1c {background-image:url("../../img/bi/saw-sm-gd1c.png"); padding: 3px 0;}
.s3-bi-saw-xs-gd1c {background-image:url("../../img/bi/saw-xs-gd1c.png"); padding: 2px 0;}
.s3-bi-saw-lg-gd2c {background-image:url("../../img/bi/saw-lg-gd2c.png"); padding: 10px 0;}
.s3-bi-saw-md-gd2c {background-image:url("../../img/bi/saw-md-gd2c.png"); padding: 5px 0;}
.s3-bi-saw-sm-gd2c {background-image:url("../../img/bi/saw-sm-gd2c.png"); padding: 3px 0;}
.s3-bi-saw-xs-gd2c {background-image:url("../../img/bi/saw-xs-gd2c.png"); padding: 2px 0;}
.s3-bi-saw-lg-gd3c {background-image:url("../../img/bi/saw-lg-gd3c.png"); padding: 10px 0;}
.s3-bi-saw-md-gd3c {background-image:url("../../img/bi/saw-md-gd3c.png"); padding: 5px 0;}
.s3-bi-saw-sm-gd3c {background-image:url("../../img/bi/saw-sm-gd3c.png"); padding: 3px 0;}
.s3-bi-saw-xs-gd3c {background-image:url("../../img/bi/saw-xs-gd3c.png"); padding: 2px 0;}
.s3-bi-saw-lg-c {background-image:url("../../img/bi/saw-lg-c.png"); padding: 10px 0;}
.s3-bi-saw-md-c {background-image:url("../../img/bi/saw-md-c.png"); padding: 5px 0;}
.s3-bi-saw-sm-c {background-image:url("../../img/bi/saw-sm-c.png"); padding: 3px 0;}
.s3-bi-saw-xs-c {background-image:url("../../img/bi/saw-xs-c.png"); padding: 2px 0;}
.s3-bi-saw-lg-w {background-image:url("../../img/bi/saw-lg-w.png"); padding: 10px 0;}
.s3-bi-saw-md-w {background-image:url("../../img/bi/saw-md-w.png"); padding: 5px 0;}
.s3-bi-saw-sm-w {background-image:url("../../img/bi/saw-sm-w.png"); padding: 3px 0;}
.s3-bi-saw-xs-w {background-image:url("../../img/bi/saw-xs-w.png"); padding: 2px 0;}
.s3-bi-saw-lg-n2w {background-image:url("../../img/bi/saw-lg-n2w.png"); padding: 10px 0;}
.s3-bi-saw-md-n2w {background-image:url("../../img/bi/saw-md-n2w.png"); padding: 5px 0;}
.s3-bi-saw-sm-n2w {background-image:url("../../img/bi/saw-sm-n2w.png"); padding: 3px 0;}
.s3-bi-saw-xs-n2w {background-image:url("../../img/bi/saw-xs-n2w.png"); padding: 2px 0;}
.s3-bi-saw-lg-n1w {background-image:url("../../img/bi/saw-lg-n1w.png"); padding: 10px 0;}
.s3-bi-saw-md-n1w {background-image:url("../../img/bi/saw-md-n1w.png"); padding: 5px 0;}
.s3-bi-saw-sm-n1w {background-image:url("../../img/bi/saw-sm-n1w.png"); padding: 3px 0;}
.s3-bi-saw-xs-n1w {background-image:url("../../img/bi/saw-xs-n1w.png"); padding: 2px 0;}
.s3-bi-saw-lg-n {background-image:url("../../img/bi/saw-lg-n.png"); padding: 10px 0;}
.s3-bi-saw-md-n {background-image:url("../../img/bi/saw-md-n.png"); padding: 5px 0;}
.s3-bi-saw-sm-n {background-image:url("../../img/bi/saw-sm-n.png"); padding: 3px 0;}
.s3-bi-saw-xs-n {background-image:url("../../img/bi/saw-xs-n.png"); padding: 2px 0;}
.s3-bi-saw-lg-n1s {background-image:url("../../img/bi/saw-lg-n1s.png"); padding: 10px 0;}
.s3-bi-saw-md-n1s {background-image:url("../../img/bi/saw-md-n1s.png"); padding: 5px 0;}
.s3-bi-saw-sm-n1s {background-image:url("../../img/bi/saw-sm-n1s.png"); padding: 3px 0;}
.s3-bi-saw-xs-n1s {background-image:url("../../img/bi/saw-xs-n1s.png"); padding: 2px 0;}
.s3-bi-saw-lg-n2s {background-image:url("../../img/bi/saw-lg-n2s.png"); padding: 10px 0;}
.s3-bi-saw-md-n2s {background-image:url("../../img/bi/saw-md-n2s.png"); padding: 5px 0;}
.s3-bi-saw-sm-n2s {background-image:url("../../img/bi/saw-sm-n2s.png"); padding: 3px 0;}
.s3-bi-saw-xs-n2s {background-image:url("../../img/bi/saw-xs-n2s.png"); padding: 2px 0;}
.s3-bi-saw-lg-s {background-image:url("../../img/bi/saw-lg-s.png"); padding: 10px 0;}
.s3-bi-saw-md-s {background-image:url("../../img/bi/saw-md-s.png"); padding: 5px 0;}
.s3-bi-saw-sm-s {background-image:url("../../img/bi/saw-sm-s.png"); padding: 3px 0;}
.s3-bi-saw-xs-s {background-image:url("../../img/bi/saw-xs-s.png"); padding: 2px 0;}
.s3-bi-saw-lg-k {background-image:url("../../img/bi/saw-lg-k.png"); padding: 10px 0;}
.s3-bi-saw-md-k {background-image:url("../../img/bi/saw-md-k.png"); padding: 5px 0;}
.s3-bi-saw-sm-k {background-image:url("../../img/bi/saw-sm-k.png"); padding: 3px 0;}
.s3-bi-saw-xs-k {background-image:url("../../img/bi/saw-xs-k.png"); padding: 2px 0;}



